@import '@/styles/theme.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    @include titleLarge;
    color: $color-primary-50;
  }
}
