/**
 * Colors
 */
$color-neutral-0: #ffffff !default;
$color-neutral-10: #f8f8f8 !default;
$color-neutral-20: #e6e6e6 !default;
$color-neutral-30: #d8d8d8 !default;
$color-neutral-40: #b8b8b8 !default;
$color-neutral-50: #808080 !default;
$color-neutral-60: #595959 !default;
$color-neutral-80: #404040 !default;
$color-neutral-90: #1a1a1a !default;

$color-primary-10: #bdcbf5 !default;
$color-primary-20: #91a8ee !default;
$color-primary-30: #6585e7 !default;
$color-primary-40: #3963e0 !default;
$color-primary-50: #4169e1 !default;
$color-primary-60: #1f49c6 !default;
$color-primary-70: #18399a !default;
$color-primary-80: #11296e !default;
$color-primary-90: #0a1842 !default;

$color-primary: $color-primary-50;
$color-secondary: #98fb98 !default;
$color-accent: #ffa07a !default;

$color-body-bg: $color-neutral-10;
